// Variables
//------------------------------------------------------
$pager-background-color:                  $success-medium !default;
$pager-background-color-hover:            $success-light !default;
$pager-background-color-disabled:         $lightgray-light !default;

$pager-font-color:                        $white !default;
$pager-font-color-disabled:               $lightgray-dark !default;

// Exports
//------------------------------------------------------

@include exports("pager") {

  /**
   * pager
   * --------------------------------------------------
   */
  .pager {

    & li > a,
    & li > span {
      color: $pager-font-color;
      background-color: $pager-background-color;
      border-color: $pager-background-color;
    }
    & li > a:hover,
    & li > a:focus {
      background-color: $pager-background-color-hover;
      border-color: $pager-background-color-hover;
    }
    & .disabled > a,
    & .disabled > a:hover,
    & .disabled > a:focus,
    & .disabled > span {
      color: $pager-font-color-disabled;
      background-color: $pager-background-color-disabled;
      border-color: $pager-font-color-disabled;
    }
  }
}
